## Pandas 

Python has many libraries and one of them is Pandas which is an open-source data manipulation and analysis library. It provides data structures for efficiently storing and manipulating large datasets, along with tools for reading and writing data in various formats.

The two primary data structures in pandas are:

DataFrame: A two-dimensional table of data with rows and columns. It is similar to a spreadsheet or SQL table, and you can think of it as a container for Series objects. Each column in a DataFrame is a Series, which is a one-dimensional labeled array.

Series: A one-dimensional labeled array capable of holding any data type. It can be thought of as a single column of a DataFrame.



Pandas provides a wide range of functionalities for data manipulation, including:

Reading and writing data from/to various file formats (CSV, Excel, SQL databases, etc.).
Cleaning and handling missing data.
Filtering, selecting, and indexing data.
Aggregating and summarizing data.
Merging and joining datasets.
Time series analysis.
Plotting and visualization.

In [63]:
# importing the required lbrary 
import pandas as pd

In [64]:
# the type of data structure
s1 = pd.Series([25, 30, 35, 40], name='age')
s2 = pd.Series(['New York', 'San Francisco', 'Los Angeles', 'Chicago'], name='city')

df = pd.concat([s1, s2], axis=1)
print(df)

   age           city
0   25       New York
1   30  San Francisco
2   35    Los Angeles
3   40        Chicago

Pandas is used to read and write .... using the methods read_csv, to_csv

In [66]:
# reading data on a csv
df = pd.read_csv('./birds (1).csv')

to get the columns of dataframe using .columns

In [67]:
df.columns

Index(['Name', 'ScientificName', 'Category', 'Order', 'Family', 'Genus',
       'ConservationStatus', 'MinLength', 'MaxLength', 'MinBodyMass',
       'MaxBodyMass', 'MinWingspan', 'MaxWingspan'],
      dtype='object')

Reading data, showing  and understadning data using Data Exploration and Analysis

In [ ]:
# reading data the top head() and the bottom tail()

df.head(5)

df.tail(5)

Get one or more columns

In [68]:
df[['ScientificName', 'Category']]

             ScientificName               Category
0    Dendrocygna autumnalis  Ducks/Geese/Waterfowl
1       Dendrocygna bicolor  Ducks/Geese/Waterfowl
2        Anser caerulescens  Ducks/Geese/Waterfowl
3              Anser rossii  Ducks/Geese/Waterfowl
4           Anser albifrons  Ducks/Geese/Waterfowl
..                      ...                    ...
438      Passerina caerulea       Cardinals/Allies
439        Passerina amoena       Cardinals/Allies
440        Passerina cyanea       Cardinals/Allies
441         Passerina ciris       Cardinals/Allies
442         Spiza americana       Cardinals/Allies

[443 rows x 2 columns]

In [38]:
# statistics get to know the mean, quatile
df.describe()

             age
count   4.000000
mean   32.500000
std     6.454972
min    25.000000
25%    28.750000
50%    32.500000
75%    36.250000
max    40.000000